  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    .backimage-box {
      background-color: blueviolet;
      width: 100%;
      height: 960px;
      background-image: url('./IMAGES/background pattern image.jpg');
      background-size: cover;
      animation: slidebg 30s linear infinite;
      position: relative;
    }

    @keyframes slidebg {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: -1000px 0;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1;
    }

    .navbar {
      z-index: 2;
      background-color: black !important;
    }

    .nav-link {
      color: aliceblue !important;
    }

    .logo-image {
      margin-left: 100px;
    }

    .dropdown-menu {
      background-color: rgb(255, 255, 255);
    }

    .dropdown-menu .dropdown-item {
      color: rgb(0, 0, 0);
    }

    .dropdown-menu .dropdown-item:hover {
      color: #BF1109;
    }

    .buttons {
      width: 200px;
      background-color: #BF1109;
      border: none;
      color: white;
      padding: 15px;
      border-radius: 10px;
      font-size: 20px;
      font-weight: bold;
    }

    .buttons:hover {
      background-color: #14A83A;
      transition: all 0.5s ease-out;
    }

    .button-cart {
      width: 70px;
      background-color: #14A83A;
      border: none;
      color: white;
      padding: 15px;
      border-radius: 10px;
      font-size: 20px;
      font-weight: bold;
    }

    .cart-white {
      color: white;
    }

    .button-div {
      margin-left: 50px;
    }

   

      @media screen and (max-width: 600px) {
    .logo-image {
        position: relative;
        right: 80px;

      
    }
  }